@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Display;
  src: url(../assets/fonts/Frasa-Italic.otf);
}

@font-face {
  font-family: Display2;
  src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}

.font-display{
  font-family: Display;
}


.font-display-2 {
  font-family: Display2;
}


.font-main{
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
