@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flip-horizonal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);  
}

@font-face {
  font-family: Display;
  src: url(../assets/fonts/Frasa-Italic.otf);
}

@font-face {
  font-family: Display2;
  src: url(../assets/fonts/InterTight-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.font-display{
  font-family: Display;
}


.font-display-2 {
  font-family: Display2;
}


.font-main{
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.font-outline-jet {
  -webkit-text-stroke: 2px black;
}

.font-outline-orange {
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}
